<h1>Example Orb application</h1>
<p>This is an example Orb application. It has an 'Open file' menu option, which allows the user to select a file. Because it's just an example application, nothing is done with the selected file. Files with the extension 'exa' are associated with this application.</p>

<pre>
/* Orb example application
 */

const EXAMPLE_EXTENSION = 'exa';

function example_load_file(example_window, filename) {
    orb_file_open(filename, function(content) {
        // Do some stuff with the file content.
    });
}

function example_menu_click(example_window, item) {
    switch (item) {
        case 'Open file':
            orb_file_dialog('Open', function(filename) {
                var extension = orb_file_extension(filename);
                if (extension != EXAMPLE_EXTENSION) {
                    orb_alert('Invalid file extension.');
                } else {
                    example_load_file(example_window, filename);
                }
            }, 'Documents');
            break;
        case 'Exit':
            example_window.close();
            break;
        case 'About':
            orb_alert('Example application\nCopyright (c) by John Doe', 'About');
            break;
    }
}

function example_open(filename = undefined) {
    var window_content =
        '&lt;div class="example"&gt;' +
        '&lt;p&gt;This is an Orb example application.&lt;/p&gt;' +
        '&lt;/div&gt;';

    var example_window = $(window_content).orb_window({
        header:'Example',
        icon: '/apps/example/example.png',
        width: 400,
        height: 200,
        menu: {
            'File': [ 'Open file', 'Exit' ],
            'Help': [ 'About' ]
        },
        menuCallback: example_menu_click
    });

    if (filename != undefined) {
        example_load_file(example_window, filename);
    }

    example_window.open();
}

$(document).ready(function() {
    var icon = '/apps/example/example.png';
    orb_startmenu_add('Example', icon, example_open);
    orb_upon_file_open(EXAMPLE_EXTENSION, example_open, icon);
});
</pre>
