div.life {
	width:100%;
	height:100%;
}

div.life table.board {
	width:100%;
	height:100%;
}

div.life table.board tbody {
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
}

div.life table.board tbody td {
	border-top:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	background-color:#ffffff;
	empty-cells:show;
}

div.life table.board tbody td.alive {
	background-color:#00c000;
}

div.life table.board tfoot tr {
	height:40px;
}

div.life table.board tfoot tr td {
	vertical-align:bottom;
}

div.life table.board tfoot div.btn-group {
	margin-right:15px;
}

div.life table.board tfoot div.btn-group input:first-child {
	width:70px;
}

div.life table.board tfoot div.speed {
	display:inline-block;
	width:240px;
	position:relative;
	top:2px;
}

div.life table.board tfoot div.ui-slider-handle {
	width:30px;
	height:22px;
	top:50%;
	margin-top:-11px;
	text-align:center;
}
