@font-face {
	font-family:Clock;
	src:url(/apps/clock/clock.ttf);
	font-weight:400;
}

div.clock {
	height:100%;
	position:relative;
}

div.clock canvas.analog {
	display:block;
	margin:0 auto;
}

div.clock div.digital {
	width:100%;
	height:200px;
	display:none;
	font-family:Clock;
}

div.clock div.paused {
	text-align:center;
	position:absolute;
	top:65%;
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:#4040a0;
	text-shadow:#ffffff 0 0 5px;
	display:none;
}
